.wrapper_404 {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_page {
    font-size: 100px;
    font-weight: 500;
    color: rgb(244, 10, 10);

}