.products-sort {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-small,
.btn-big {
    display: inline-block;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(164, 73, 249);
    color: rgb(251, 246, 241);
    transition: all .3s ease-in;
}

.btn-small:hover,
.btn-big:hover {
    background-color: rgb(38, 7, 66);
    transform: scale(1.05);
}

.btn-small {
    margin-right: 10px;
}

.block-search, .products-sort__small-big,
.block__count-prod, .block-select {
    margin: 0 15px;
}

.search {
    outline: none;
    border: 2px solid rgb(164, 73, 249);
    border-radius: 8px;
    padding: 5px;
}

.sort {
    outline: none;
    border: 2px solid rgb(164, 73, 249);
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
}
